@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}*/

/*  color de fondo de página y fuente*/
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    font-family: 'Poppins', sans-serif;
    
}
/*-------------------------- Navbar -------------------------------------------*/
.menu {
    display: flex;
    justify-content: center;

}

.navbar {
    background-color: #0c3483; /* Color de fondo */
    position: fixed; /* Fijar la barra en la parte superior de la página */
    width: 100%; /* Ancho completo */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Ajusta los valores de padding para eliminar los espacios en los bordes superior e izquierdo */
    height: 60px; /* Altura de la barra */
    z-index: 9999;
}

.navbar a {
    color: white; /* Color de texto para los enlaces */
    text-decoration: none; /* Sin subrayado en los enlaces */
    margin: 0 20px; /* Espaciado entre enlaces */
    font-weight: bold; /* Texto en negrita */
}

/* Ajusta el margen derecho del logo para separarlo del borde izquierdo */
.navbar .logo-2 {
    width: 100px; /* Ancho del logo */
    height: auto;
    cursor: pointer; /* Cambia el cursor al pasar sobre el logo */
    margin-right: 20px; /* Ajusta este valor según sea necesario */
}

/* Ajusta el margen izquierdo de .menu para centrar los elementos */
.navbar .menu {
    margin-left: auto; /* Empujará los elementos al centro */
}

.navbar .iconos-redes {
    margin-left: auto; /* Empujará los íconos hacia la derecha */
    margin-right: 20px;
}

.navbar .iconos-redes a {
    color: white;
    text-decoration: none;
    margin-left: 0; 
    font-size: 20px;
}

/*----------------------- Header Vehículos deslizable --------------------*/

/* sirve para centrar las class*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*tamaño de las flechas*/
.swiper-button-prev::after,
.swiper-button-next::after {
    font: 35px;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
    font-size: 50px;
}
/*color de las flechas*/
.swiper-button-next,
.swiper-button-prev {
    color: #0c3483;
}

/*color de los puntitos del slider*/
.swiper-pagination-bullet {
    background-color: #0c3483;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #e2cac9;
}
/*sector del slider principal*/
.header-content {
    margin-top: 200px;
    padding-bottom: 50px;
}

/*alineación de texto del slider*/
.slider {
    display: flex;
    align-items: center;
}

.slider-txt {
    margin-left: 85px;
    width: 50%;
}

/*color y tamaño del texto del slider*/
.slider-txt h1 {
    font-size: 70px;
    color: #352f2f;
    text-transform: uppercase;
    font-weight: 800;
}

.slider-txt p {
    font-size: 18px;
    color: #2e2929;
}

/*botón de galeria*/
.botones {
    margin-top: 50px;
}

/*forma y color del círculo que rodea al botón de galeria*/
.btn-1 {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid #ebe3e3;
    color: #2b2626;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}

/*color del círculo al posicionar el cursor*/
.btn-1:hover {
    background-color: #0c3483;
    color:#ebe3e3
}

/*tamaño y posición de las imágenes del slider*/
.slider-img {
    width: 50%;
}

.slider-img img {
    margin-right: 225px;
    width: 550px;
}

/*sector del slider principal*/
.header-content {
    margin-top: 100px;
    padding-bottom: 50px;
}
/*alineación de texto del slider*/
.slider {
    display: flex;
    align-items: center;
}

.slider-txt {
    margin-left: 85px;
    width: 50%;
}
/*color y tamaño del texto del slider*/
.slider-txt h1 {
    font-size: 70px;
    color: #352f2f;
    text-transform: uppercase;
    font-weight: 800;
}

.slider-txt p {
    font-size: 18px;
    color: #2e2929;
}

/*botón de galeria*/
.botones {
    margin-top: 50px;
}

/*forma y color del círculo que rodea al botón de galeria*/
.btn-1 {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid #ebe3e3;
    color: #2b2626;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}

/*color del círculo al posicionar el cursor*/
.btn-1:hover {
    background-color: #0c3483;
    color:#ebe3e3
}
/*tamaño y posición de las imágenes del slider*/
.slider-img {
    width: 50%;
}

.slider-img img {
    margin-right: 225px;
    width: 550px;
}

/*------------------------------------------------*/

/*tamaño del ícono del inicio cuando se encuentra responsive*/
.menu-icono {
    width: 25px;
}
/*el ícono se esconde cuando está en modo escritorio*/
.menu label {
    cursor: pointer;
    display: none;
}
/*-----------------------Servicios-----------------------*/

/*color de fondo de la sección de servicios*/
/* Estilo para la sección de servicios */
.products {
    background-color: #a8abd1;
    padding: 20px;
    text-align: center;
}

/* Contenedor de las tarjetas */
.service-container {
    display: flex;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    gap: 20px; /* Espacio entre las tarjetas */
}

/* Estilo base para las tarjetas */
.service-card {
    flex: 0 1 calc(20% - 20px); /* Ajusta el ancho de cada tarjeta según el espacio disponible */
    background-color: #fff; /* Color de fondo de las tarjetas */
    padding: 20px;
    border-radius: 10px; /* Borde redondeado */
    border: 1px solid #9c1717; /* Borde fino */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    max-width: calc(20% - 20px);
}

/* Estilos para la imagen en las tarjetas */
.service-card i {
    font-size: 24px; /* Tamaño del ícono */
    color: #007bff; /* Color del ícono */
}

/* Estilos para el título y descripción en las tarjetas */
.service-card h4 {
    font-size: 18px;
    margin: 10px 0;
}

.service-card p {
    font-size: 14px;
}

/*---------------------Información----------------------------*/

/*sección de la ubicación y tamaños de la información*/
.info {
    padding: 100px 0px;
    display: flex;
    align-items: center;
}

.info-img {
    width: 100%;
}

/*tamaño de la imagen de la información*/
.info-img img {
    width: 550px;
    height: 300px;
    border-radius: 40px;
}

/*para que la sección se vea correctamente*/
.info-txt {
    width: 50%;
}

/*tamaño y color de la palabra información*/
.info-txt h2 {
    font-size: 75px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}

/*color y tamaño del párrafo*/
.info-txt p {
    font-size: 18px;
    color: #050a36;
    margin-bottom: 50px;
}

/*color y tamaño del círculo que rodea al botón "MAS INFORMACION*/
.btn-2 {
    display: inline-block;
    padding: 15px 35px;
    background-color: #2b2b2b;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 50px;
}

/*color del círculo cuando se posiciona el cursor*/
.btn-2:hover {
    background-color: #8f7e7e;
}

/*sección de horario, color tamaño posición etc*/
.horario {
    padding: 100px 0px;
    background-color: #2b2626;
}

/*sección de horario*/
.horario-info h2 {
    font-size: 75px;
    color: #FFFFFF;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}

/*separa los textos*/
.horario-txt {
    display: flex;
    justify-content: space-between;
}

.txt {
    color: #FFFFFF;
}

.txt h4 {
    font-size: 18px;
    color: #a7a7a7;
    margin-bottom: 30px;
}

.txt h5 {
    font-size: 18px;
    color:#0c3483;
    margin-bottom: 30px;
    align-items: center;
}

.txt p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}

/*sección de los links.. ubicación y separación */
.footer {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
}

.links h4 {
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 25px;
}

/*sección de los enlaces*/
.links ul li a {
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}

/*sección del responsive*/
@media(max-width: 991px) {
    .menu {
        padding: 20px;
        justify-content: space-between;
    }

    .menu-2 {
        display: none;
    }

    .logo-1 {
        width: 600px;
        align-self: flex-start;
    }

    .logo-2 {
        width: 0;
    }

    .menu label {
        display: initial;
    }

    /*color y posición del menú al apretar el ícono*/
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #756767;
        display: none;
    }

    /*el menú cubre todo el ancho cuando se le hace clic*/
    .menu .navbar ul li {
        width: 100%;
    }

    /*para que funcione el menú*/
    #menu:checked~.navbar {
        display: initial;
    }

    .header-content {
        padding: 30px;
        margin-top: 100px;
    }

    /*sección del slider para acomodar el tamaño cuando está responsive*/
    .slider {
        flex-direction: column;
    }

    .slider-txt {
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .slider-txt h1 {
        font-size: 50px;
    }

    /*tamaño del texto*/
    .slider-txt p {
        font-size: 16px;
    }

    .btn-1 {
        padding: 10px 25px;
        font-size: 14px;
    }

    .slider-img {
        width: 100%;
        text-align: center;
    }

    /*tamaño de las imágenes del slider*/
    .slider-img img {
        margin-right: 0px;
        width: 300px;
    }

    /*este código hace que los bullets (puntos) no queden muy pegados a la imagen*/
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets,
    .swiper-pagination-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: -7px;
    }

    /*sección de los servicios tamaño etc*/
    .tabs {
        padding: 50px 30px;
    }

    .tabs label {
        width: 33%;
    }

    /*sección de la información tamaño etc*/
    .info {
        padding: 30px;
        flex-direction: column;
    }

    .info-img {
        width: 100%;
        text-align: center;
    }

    /*tamaño de la imagen de servicio*/
    .info-img img {
        width: 400px;
        height: 200px;
        margin-bottom: 25px;
    }

    /*tamaño de título y los textos de servicio*/
    .info-txt {
        width: 100%;
        text-align: center;
    }

    .info-txt h2 {
        font-size: 50px;
    }

    .info-txt p {
        font-size: 16px;
    }

    .btn-1 {
        font-size: 16px;
    }

    /*tamaño de la sección de horario*/
    .horario {
        padding: 30px;
        text-align: center;
    }

    .horario-info h2 {
        font-size: 50px;
        margin-bottom: 15px;
    }

    .horario-txt {
        flex-direction: column;
    }

    /*tamaño y ubicación de las redes sociales de los enlaces*/
    .socials {
        justify-content: center;
    }

    .socials img {
        margin: 8px 0 0 0;
    }

    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    /*ubicación de los enlaces*/
    .links h4 {
        margin: 25px 0px 10px 0px;
    }
}