@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*  color de fondo de página y fuente*/
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    font-family: 'Poppins', sans-serif;

}


/*-------------------------- Navbar -------------------------------------------*/
.menu {
    display: flex;
    justify-content: center;

}

.navbar {
    background-color: #0c3483;
    position: fixed;
    width: 100%;
    height: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 110px;
    z-index: 9999;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

/* Ajusta el margen derecho del logo para separarlo del borde izquierdo */
.navbar .logo-2 {
    width: 200px;
    height: auto;
    cursor: pointer;
    margin-right: 20px;
}

/* Ajusta el margen izquierdo de .menu para centrar los elementos */
.navbar .menu {
    margin-left: auto;
}

.navbar .iconos-redes{
    margin-left: auto;
    margin-right: 20px;
}

.navbar .iconos-redes a {
    color: white;
    text-decoration: none;
    margin-left: 0;
    font-size: 20px;
}

.navbar .menu-icono{
    display: none;
}

.navbar .menu-icono i{
    color: white;
    text-decoration: none;
    margin-left: 0;
    font-size: 20px;
}

/*----------------------- Header Vehiculos deslizable --------------------*/

/* sirve para centrar las class*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*tamaño de las flechas*/
.swiper-button-prev::after,
.swiper-button-next::after {
    font: 35px;
}

.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
    font-size: 50px;
}

/*color de las flechas*/
.swiper-button-next,
.swiper-button-prev {
    color: #0c3483;
}

/*color de los puntitos del slider*/
.swiper-pagination-bullet {
    background-color: #0c3483;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #e2cac9;
}

/*sector del slider principal*/
.header-content {
    margin-top: 200px;
    padding-bottom: 50px;
}

/*alineación de texto del slider*/
.slider {
    display: flex;
    align-items: center;
}

.slider-txt {
    margin-left: 85px;
    width: 50%;
}

/*color y tamaño del texto del slider*/
.slider-txt h1 {
    font-size: 70px;
    color: #352f2f;
    text-transform: uppercase;
    font-weight: 800;
}

.slider-txt p {
    font-size: 18px;
    color: #2e2929;
}

/*botón de galeria*/
.botones {
    margin-top: 50px;
}

/*forma y color del círculo que rodea al botón de galeria*/
.btn-1 {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid #ebe3e3;
    color: #2b2626;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}

/*color del círculo al posicinar el cursor*/
.btn-1:hover {
    background-color: #0c3483;
    color: #ebe3e3
}

/*tamaño y posición de las imágenes del slider*/
.slider-img {
    width: 50%;
}

.slider-img img {
    margin-right: 225px;
    width: 550px;
}

/*sector del slider principal*/
.header-content {
    margin-top: 100px;
    padding-bottom: 50px;
}

/*alineación de texto del slider*/
.slider {
    display: flex;
    align-items: center;
}

.slider-txt {
    margin-left: 85px;
    width: 50%;
}

/*color y tamaño del texto del slider*/
.slider-txt h1 {
    font-size: 70px;
    color: #352f2f;
    text-transform: uppercase;
    font-weight: 800;
}

.slider-txt p {
    font-size: 18px;
    color: #2e2929;
}

/*boton de galeria*/
.botones {
    margin-top: 50px;
}

/*forma y color del círculo que rodea al botón de galeria*/
.btn-1 {
    display: inline-block;
    padding: 15px 35px;
    border: 2px solid #ebe3e3;
    color: #2b2626;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
    transition: transform 0.3s;
}

/*color del círculo al posicionar el cursor*/
.btn-1:hover {
    background-color: #0c3483;
    color: #ebe3e3;
    transform: scale(1.05);
}

/*tamaño y posición de las imágenes del slider*/
.slider-img {
    width: 50%;
}

.slider-img img {
    margin-right: 225px;
    width: 550px;
}

/*------------------------------------------------*/

/*tamaño del ícono del inicio cuando se encuentra responsive*/
.menu-icono {
    width: 25px;
}

/*el ícono se esconde cuando esta en modo escritorio*/
.menu label {
    cursor: pointer;
    display: none;
}

/*-----------------------Servicios-----------------------*/

.products {
    background-color: #e7e9ff;
    padding: 20px;
    text-align: center;
}

/* Contenedor de las tarjetas */
.service-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
}

/* Estilo base para las tarjetas */
.service-card {
    flex: 0 1 calc(20% - 20px);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #1551c7;
    text-align: center;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
    max-width: calc(20% - 20px);
    transition: transform 0.3s;
}

/* Cambia el tamaño de las tarjetas en hover */
.service-card:hover {
    transform: scale(1.05);
}

/* Estilos para la imagen en las tarjetas */
.service-card i {
    font-size: 26px;
    color: #007bff;
}

/* Estilos para el título y descripción en las tarjetas */
.service-card h4 {
    font-size: 18px;
    margin: 10px 0;
}

.service-card p {
    font-size: 14px;
}

.section-title {
    font-size: 50px;
    color: #352f2f;
}



/*--------------------INFORMACION--------------*/



.info {
    padding: 80px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c3c6e8;

}

.info-img {
    width: 100%;
}

/*tamaño de la imagen de la información*/
.info-img img {
    width: 100%;
    max-width: 650px;
    height: auto;
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

/*para que la sección se vea correctamente*/
.info-txt {
    width: 50%;
    text-align: center;
    padding: 0 20px;
}

/*tamaño y color de la palabra nosotros*/
.info-txt h2 {
    font-size: 50px;
    color: #352f2f;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
}

/*color y tamaño del párrafo*/
.info-txt p {
    font-size: 18px;
    color: #2e2929;
    margin-bottom: 50px;
}


/*-------------------- Reservas ------------------------------*/

.title-form {
    margin-top: 80px;
}

.container-form {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: #2e2929;
}

.products-form {
    background-color: #c3c6e8;
    padding: 20px;
    text-align: center;
}

.etiq-camp {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
    width: 30%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio,
.checkbox {
    margin-right: 50px;
}

/*------------------Galeria-----------------------*/

body, html {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
}

/* Establecer estilos para el slider de la galería */
.galeria-container {
    background-color: #c3c6e8;
    padding: 100px;
    align-items: center;
    justify-content: center;
}

.galeria-slider {
    display: flex;
    height: 600px;
    margin: 0 auto;
   
}

/* Establecer estilos para las imágenes en el slider */
.galeria-slider img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    filter: brightness(80%);
    transition: .7s ease;
}

/* Establecer estilos al pasar el mouse sobre las imágenes */
.galeria-slider img:hover {
    width: 100%;
    opacity: 1;
    filter: brightness(130%);
}

/*--------------------Footer/Contacto -----------------------------*/

/* color tamaño posición etc*/
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #0c3483;
    color: #fff;
}

.logo-footer {
    width: 20%;
    margin-right: 20px;
}

.logo-footer img {
    width: 180px;
}

.location,
.contact-info,
.horario-de-atencion {
    flex: 1;
    text-align: center;
    padding: 10px;
    border-right: 1px solid #fff;
}

.contact-info .icon-footer a {
    color: white;
    text-decoration: none;
    margin-left: 0;
    font-size: 20px;
}

.location,
.contact-info {
    padding-bottom: 20px;
}


/*----------------------- RESPONSIVE ---------------------------------*/

@media screen and (max-width: 768px) {

    /* Responsive de Navbar */

    .navbar {
        padding: 0 10px; 
    }

    .navbar a {
        margin: 0 10px; 
    }

    .header-content {
        margin-top: 50px;
    }

    /* Responsive de carrusel */

    .slider {
        flex-direction: column;
        text-align: center;
    }

    .slider-img {
        width: 50%;
    }

    .slider-img img {
        margin-right: 0;
        width: 100%;
    }

    .slider-txt {
        margin-left: 20px;
        margin-right: 20px;
        width: 60%;
    }

    /*Responsive servicios*/

    .service-container {
        flex-direction: column;
        align-items: center; 
    }

    
    .service-card {
        flex: 0 1 100%;
        max-width: 100%;
    }

    /*Responsive reservas*/

    .etiq-camp {
        width: 100%; 
        text-align: center;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%; 
    }

    .radio,
    .checkbox {
        margin-right: 0; 
    }

    .checkbox {
        display: flex;
        flex-direction: column; 
    }

    /*Responsive Información*/

    .info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info-txt,
    .info-img {
        width: 100%;
        text-align: center;
    }

    .info-img img {
        width: 100%;
        max-width: 100%;
    }

    /*Responsive Galería*/

    .galeria-slider {
        padding: 0; 
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .galeria-slider img {
        width: 60%; 
        margin: 5px 0; 
    }

    /*Responsive footer*/

    .footer-container {
        flex-wrap: wrap; 
    }

    .logo-footer {
        width: 100%; 
        margin-bottom: 20px; 
    }

    .location,
    .contact-info,
    .horario-de-atencion {
        flex: 1 1 100%; 
        border: none; 
        margin-bottom: 20px; 
    }
    
}

@media screen and (max-width: 600px) {
    
    /* Responsive de Navbar */

    .navbar {
        padding: 0 10px;
        justify-content: center; 
    }

    .navbar .menu a {
        display: none; 
    }

    .menu-icon {
        display: block; 
    }

    .navbar .img {
        display: block;
        margin: 0 auto; 
        text-align: center; 
    }

    .navbar .iconos-redes {
        display: none; 
    }

    .navbar .menu-icono {
        display: block;
        margin-left: auto;
        margin-right: 10%; 
    }

    .navbar .menu-icono i {
        color: white;
        text-decoration: none;
        font-size: 30px;
    }

    /* Responsive de carrusel */

    .slider {
        flex-direction: column;
        text-align: center;
    }

    .slider-img,
    .slider-txt {
        width: 50%;
    }

    .slider-txt {
        margin-left: 0;
        margin-right: 0;
    }
}
